body {
  padding-top: 50px;
  background: #101010 url('../assets/brixton2048.jpg') no-repeat center center fixed;
  background-size: 100%;
  /*background-repeat: no-repeat;*/
  background-color: ;
}
.starter-template {
  padding: 20px 15px;
  text-align: right;
  color: #999;
}

h1, .lead {
  color: #ffffff;
  font-weight: bold;
}

div .section {
  
}

.credit {
  float: right;
  color: #999;
  background-color: #101010;
  padding: 0.2em;
  margin: 0.4em 0.4em 14em 0.4em;
  border-radius: 3px;
}

.content {
  color: #999;
  max-width: 768px;
  margin: 2em auto 0 auto;
  font-size: medium;
  line-height: 1.6em;
}

.section {
  margin-top: 14em;
  padding-top: 5em;
}

#intro {
  margin-top: 0em;
}

.section .contact {
  
}

.section > div {
  background-color: #101010;
  padding: 0.5em;
  margin-top: 1em;
}

h3 {
  padding-bottom: 2em;
}

.mc-field-group, .submit-button {
  float: left;
  padding-left: 1em;
}

#mce-EMAIL {
  margin-left: 1em;
}

.response {
  clear: both;
  padding: 1em;
  font-weight: bold;
}

.mailchimp {
  padding-bottom: 3em;
}